:root {
  --lightblk: #252930;
  --blk: #111711;
  --send: rgb(23, 187, 12);
}

.header {
  font-size: 57px;
  color: white;
  font-family: Rubik Mono One;
  flex-basis: 100%;
  margin-bottom: 10px;
}


.footer {
  margin-top: 50px;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: var(--blk);
}

div.right {
  margin: 0;
  display: flex;
  width: 60%;
  flex-direction: row;
  gap: 25px;
  flex: 1;
}

div.left {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  gap: 10px;
  width: 50%;
  flex-direction: column;
  flex: 1;
}

textarea {
  font-family: Azeret Mono;
  box-sizing: border-box;
  color: whitesmoke;
  outline: none;
  resize: none;
  border: none;
  width: 80%;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--lightblk);
}



div.SocialLinks  {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.SocialLinks svg {
  width: 40px;
  height: 40px;
  color: #fff;

}

::placeholder {
  font-family: Azeret Mono;
}

#start {
  margin-left: auto;
}

#end {
  margin-right: auto;
}

.submitbtn {
  border-radius: 4px;
  cursor: pointer;
}
@keyframes slide {
  0% {
    opacity: 0;
    height: 0%;
    border-radius: 10px;
  }
  100% {
    opacity: 1;
    height: 100%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 10px;
  }
  .footer {
    width: 100%;
  }
  div.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .links {
    width: 100%;
    margin: 5% 10%;
    justify-content: center;
    align-items: center;
  }

  #submitbtn {
    font-family: Azeret Mono;
    width: 80%;
    height: 45%;
    box-sizing: border-box;
    color: whitesmoke;
    outline: none;
    resize: none;
    border: none;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--send);
  }
}

@media only screen and (min-width: 600px) { 

  .links {
    width: 100%;
    margin: 5% 10%;
    justify-content: center;
    align-items: center;
  }
  
}

